// Custom styles.
body {
  background: url(/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.9;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.9;
}
